<ion-header>
  <ion-navbar>
    <ion-title>
      <img alt="logo" height="40"  src="assets/logo-1.png" > 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="login(formGroup.value)" method="post">
    <ion-item>
      <ion-label position="floating" required>Email1</ion-label>
      <ion-input ngModel formControlName="email"  type="email" name="email"></ion-input>
      <div class="alert" *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched" >{{ contentAlert }}</div>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating" required>Password</ion-label>
      <ion-input formControlName="password" ngModel type="password" name="password"></ion-input>
      <div class="alert" *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched" >{{ contentAlert }}</div>
    </ion-item>
    <ion-button type="submit" expand="full" color="primary" [disabled]="!formGroup.valid">Login</ion-button>
    <p text-center>Don't have a account?</p>
    <ion-button expand="full" color="danger" (click)="registerModal()">Register</ion-button>
  </form>
</ion-content>
